<p style="color: green"><%= notice %></p>

<h1>Friends</h1>
<div id="friends">

<table class="table table-striped table-bordered table-hover">


  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
  <% end %>
  </table>
</div>
</table>
<%= link_to "New friend", new_friend_path %>
