<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @friend.first_name %> you were just added as a friend by <%= @account.email%></h1>
  </body>
</html>
